.user-management__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.user-management__header .ant-typography {
  margin-bottom: 0 !important;
}

.user-management__filters {
  margin-bottom: 16px;
}

.user-management__form .ant-form-item:last-child {
  margin-bottom: 0;
}
